name: Lint PRs

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
      with:
       fetch-depth: 0
       
    - name: Setup Node
      uses: actions/setup-node@v2.1.2
      with:
        node-version: '12.x'

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0.9.9
      with:
        versionSpec: '5.x'

    - name: Use GitVersion
      id: gitversion # step id used as reference for output values
      uses: gittools/actions/gitversion/execute@v0.9.9

    - name: Replace Version in manifest.json
      uses: datamonsters/replace-action@v2
      with:
        files: 'manifest.json'
        replacements: '0.0.0-local=${{ steps.gitversion.outputs.semVer }}'

    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-

    - run: npm ci
    - run: npm run lint
    - run: npm run build
    - run: npm run zip

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: webextension-maltasupermarket_${{ steps.gitversion.outputs.semVer }}
        path: build/webextension-maltasupermarket.zip